

/**************** NAVBAR *****************/

nav {
    border-bottom: 1px groove #fff
    
}


#navbarResponsive ul li:last-child {
    border-left: 1.5px groove #fff;
}

#navbarResponsive ul li:hover {
    background-color: #d9534f;
    transition: 0.6s;
}

.cabecera {
  margin-right: 50px!important;
}



/**************** CARRUSEL **************/

.carousel {
    position: relative;
    text-align: center;
    z-index: 0;
}

.top-content .carousel-item {
  height: 100vh;
  min-height: 400px;
}

@media (max-width: 575px) {

  .top-content .carousel-item {
      max-height: 400px;
  }

}

/***************** CONTENT *************/

section {
    position: absolute;
    z-index: 20;
    margin-top: 250px;
    color: white;
    border-left: 1px solid #fff;
    margin-left: 20px;
    padding-left: 0!important;
}

h1 {
    margin-top: 10px;
}

.cuerpo {
    padding-left: 0!important;
}



/*************** BOTÓN SABER MÁS *****************/

.button {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 300ms;
}
.button.outline {
  color: white;
  overflow: hidden;
  position: relative;
}
.button.outline:before, 
.button.outline:after, 
.button.outline 
.lines:before, 
.button.outline 
.lines:after {
  background-color: white;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 500ms;
  width: 100%;
}
.button.outline:before {
  bottom: 0;
  top: auto;
}
.button.outline .lines {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.button.outline 
.lines:before, 
.button.outline 
.lines:after {
  height: 100%;
  width: 2px;
}
.button.outline 
.lines:after {
  left: auto;
  right: 0;
}
.button:hover:before {
  transform: translateX(-101%);
}
.button:hover:after {
  transform: translateX(101%);
}

.button:hover {
    background-color: #d9534f;
}
.button:hover .lines:before {
  transform: translateY(-101%);
}
.button:hover .lines:after {
  transform: translateY(101%);
}

.button-holder {
  text-align: left;
  margin-left: 0;
}


/*************** FOOTER ****************/
footer {
    border-top: 1px solid #fff
}

footer::before {
    filter: blur(8px);
}

footer div p {
    font-size: 10px;
    color: white;
    opacity: 60%;
    margin-bottom: 0;
    margin-top: 10px;
    z-index: 1000;
}
